@import "inventory/inventory";
@import "mixin/mixin";
@import "aperitifs/aperitifs";
@import "gallery/gallery";
@import "comment/comment";
@import "history/history";
@import "spotify/spotify";


body {
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
}

.main {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: white;
}


.head {
  display: flex;
  padding-bottom: 200px;

  &__show {
    position: fixed;
    background-color: #145454;
    width: 100%;
    height: 84px;
    z-index: 4;
    left: 0;
    top: 0;
    transition: transform .4s linear;
  }


  &__site-nav {
    position: fixed;
    top: 32px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding-left: 4.16667%;
    padding-right: 4.16667%;
    z-index: 2;
  }


  &__primary-menu, &__end-menu {
    margin: 0;
    padding: 0;
  }

  &__link {
    margin-left: 60px;

    &:nth-child(1) {
      margin-left: 0;
    }
  }

  &__item {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "Apple SD Gothic Neo";
    display: inline-block;

    &:hover {
      color: white;
    }

    &:after {
      content: "";
      display: block;
      border-bottom: 2px solid #fff;
      padding-bottom: -2px;
      transform: scaleX(1);
      transform-origin: 0 50%;
      transition: transform .25s ease-in-out;
    }
  }

  &__logo {
    position: fixed;
    width: 76px;
    top: 22px;
    left: 47.19%;
    fill: white;
  }

  &__back {
    background-color: aliceblue;
    z-index: 1;
    width: 1000px;
    height: 40vh;
  }

  &__fon {
    width: 100%;
    max-width: 720px;
    object-fit: cover;
    background: url("../img/Rectangle.png") no-repeat top;
  }

  &__text {
    width: 100%;
    background-color: #145454;
    padding: 200px 0 0 60px;
    color: aliceblue;
  }

  &__tagline {
    font-size: 74px;
    font-family: Liberation Serif;
    font-weight: 400;
  }

  &__word {
    font-size: 18px;
    font-family: "Helvetica Neue";
    font-weight: 300;
    width: 100%;
    max-width: 550px;
    margin-bottom: 46px;
  }

  &__custom-btn {
    width: 180px;
    height: 52px;
    font-size: 14px;
    text-transform: uppercase;
    font-family: "Helvetica Neue";
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    margin-bottom: 100px;
  }

  &__btn {
    background: white;
    z-index: 1;
    border: 1px solid white;
  }

  &__btn:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background: #145454;
    transition: all 0.5s ease;
  }

  &__btn:hover {
    color: #fff;
  }

  &__btn:hover:after {
    right: 0;
    width: 100%;
  }
}


.underline-hover:after {
  content: "";
  display: block;
  transform: scaleX(1);
  transform-origin: 100% 50%;
}

.underline-hover:hover:after {
  transform: scaleX(0);
  transition: transform .25s ease-in-out;
  transform-origin: 0 50%;
}

.head__show.head__hide {
  transform: translateY(-84px);
}

